
.form-group{
      margin-left:20px;
    padding:10px;
	color:red;
	font-size: 200px;
    font-family: Agency FB;
     backgroung-color:green;
     
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 10px solid red;
  border-radius: 4px;
}