<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>web.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>sis.com.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRegisterUser</display-name>
    <servlet-name>ViewRegisterUser</servlet-name>
    <servlet-class>sis.com.controller.ViewRegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyLogin</display-name>
    <servlet-name>MyLogin</servlet-name>
    <servlet-class>sis.com.controller.MyLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyLogin</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>sis.com.mail.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendEmailController</display-name>
    <servlet-name>SendEmailController</servlet-name>
    <servlet-class>sis.com.controller.SendEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmailController</servlet-name>
    <url-pattern>/Send</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutControler</display-name>
    <servlet-name>LogoutControler</servlet-name>
    <servlet-class>sis.com.controller.LogoutControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutControler</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>sis.com.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingticketControllar</display-name>
    <servlet-name>BookingticketControllar</servlet-name>
    <servlet-class>sis.com.controller.BookingticketControllar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingticketControllar</servlet-name>
    <url-pattern>/BookingticketUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordUser</display-name>
    <servlet-name>ForgetPasswordUser</servlet-name>
    <servlet-class>sis.com.controller.ForgetPasswordUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordUser</servlet-name>
    <url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingticketControllar1</display-name>
    <servlet-name>BookingticketControllar1</servlet-name>
    <servlet-class>sis.com.controller.BookingticketControllar1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingticketControllar1</servlet-name>
    <url-pattern>/BookingControllar1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordUser1</display-name>
    <servlet-name>ForgetPasswordUser1</servlet-name>
    <servlet-class>sis.com.controller.ForgetPasswordUser1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordUser1</servlet-name>
    <url-pattern>/ForgetUser1</url-pattern>
  </servlet-mapping>
</web-app>